@import "base";


body{
  padding: 0;
  margin: 0;
  font-family: "RO Sans", Verdana, Arial, sans-serif;
  width: 100%;
  header{
    width: 100%;
    height: 64px;
    #logotop{
      width: 100%;
      height: 119px;
    }
    #logo{
      height: 119px;
      margin-left: 48.6%;
    }
    nav{
      background-color: #8fcae7;
      width: 100%;
      height: 64px;
      .blokmid{
        width: 61%;
        height: 64px;
        margin-left: 19.5%;
        .blokje{
          float: left;
          width: 104px;
          height: 64px;
          text-align: center;
          i{
            float: left;
            margin-left: 10px;
            line-height: 60px;
            font-size: 18px;
          }
          p{
            float: left;
            margin-left: 10px;
            font-size: 18px;
            font-weight: lighter;
          }
        }
        form{
          float: right;
          margin-top: 10px;
          input{
            height: 38px;
            width: 250px;
          }
          .button{
            float: right;
            width: 44px;
            height: 44px;
            background-color: #01689b;
            text-align: center;
            i{
              line-height: 44px;
              font-size: 20px;
              color: white;
            }
          }
        }
        #blokje2{
          float: right;
          width: 123px;
          height: 64px;
          text-align: center;
        }
      }

    }
    .img1box{
      width: 100%;
      height: auto;
    }
    .img1{
      position: absolute;
      width: 100%;
      height: auto;
    }
    .vignette{
      width: 100%;
      height: 100%;
      box-shadow: 0 0 200px rgba(0,0,0,1) inset;
      position: relative;
    }
    .tekst1{
        margin-left: 19.5%;
        padding-top: 46px;
      h1{
        margin: 0;
        color: white;
        position: relative;
          font-size: 34px;
        }
      h2{
        position: relative;
        color: white;
        font-family: "RO Sans", Verdana, Arial, sans-serif;
        font-size: 16px;
      }
    }
  }
  main{
    width: 100;
    .databox{
      margin-top: 500px;
      position: absolute;
      margin-left: 19.5%;
      .data1{
        float: left;
        margin-left: 0px;
        margin-right: 20px;
        background-color: #ddeff8;
        height: 216px;
        width: 277px;
        h1{
          font-size: 17px;
          line-height: 28px;
          margin-left: 5px;
        }
        button{
          margin-top: 95px;
          color: white;
          background-color: #01689b;
          border-style: none;
          height: 48px;
          font-size: 15px;
          line-height: 28px;
          margin-left: 8px;
          width: 238px;
        }
      }
      .data2{
        float: left;
        margin-left: 0px;
        margin-right: 20px;
        background-color: #ddeff8;
        height: 216px;
        width: 277px;
        h2{
          font-size: 17px;
          line-height: 28px;
          margin-left: 5px;
        }
        h3{
          margin-left: 10px;
          margin-top: 80px;
          color: #01689b;
          font-size: 13px;
        }
      }
      .data3{
        float: left;
        margin-left: 0px;
        margin-right: 20px;
        background-color: #ddeff8;
        height: 216px;
        width: 277px;
        h2{
          font-size: 16px;
          line-height: 28px;
          margin-left: 5px;
        }
        h3{
          margin-left: 10px;
          margin-top: 15px;
          font-size: 13px;
        }
        h4{
          margin-left: 10px;
          margin-top: 45px;
          color: #01689b;
          font-size: 13px;
        }
      }
      .data4{
        float: left;
        margin-left: 0px;
        margin-right: 20px;
        background-color: #ddeff8;
        height: 216px;
        width: 277px;
        h2{
          font-size: 18px;
          line-height: 28px;
          margin-left: 5px;
        }
        h3{
          margin-left: 10px;
          margin-top: 25px;
          font-size: 13px;
        }
        h4{
          margin-left: 10px;
          margin-top: 45px;
          color: #01689b;
          font-size: 13px;
        }
        .datum{
          float: left;
          text-align: center;
          margin-top: 15px;
          margin-left: 10px;
          margin-right: 10px;
          width: 40px;
          height: 50px;
          background-color: white;
          line-height: 25px;
        }
      }
    }
    .butbox{
      background-color: #f3f3f3;
      width: 100%;
      height: 522px;
      position: absolute;
      margin-top: 770px;
      .box1{
        float: left;
        margin-left: 19.5%;
        width: 30.5%;
        h1{
          margin-top: 50px;
          margin-bottom: 30px;
          font-size: 19px;
        }
        .button1{
          cursor: pointer;
          background-color: #ffffff;
          margin-left: 10px;;
          margin-right: 10px;
          width: 168px;
          height: 178px;
          border: none;
          margin-bottom: 24px;
          i{
            font-size: 50px;
            margin-top: -20px;
          }
          p{
            font-size: 17px;

          }
        }
        .button1:hover{
          transition: 0.3s;
          background-color: #999999;
          color: white;
        }
      }
      .box2{
        margin-top: 100px;
        float: left;
        width: 35%;
        .left,.right{
          float: left;
          margin-left: 20px;
          width: 297px;
          height: 380px;
          font-size: 18px;
          #pijl{
            float: right;
            margin-right: 10px;
            line-height: 42px;
            color: #01689b;
          }
          p1{
            font-weight: lighter;
            margin-left: 10px;
            line-height: 42px;
          }
          #optie1{
            border-top: 1px solid  #a9a9a9;
            border-bottom: 1px solid  #a9a9a9;
            height: 42px;
            width: 100%;
          }
          .optie{
            border-bottom: 1px solid  #a9a9a9;
            height: 42px;
            width: 100%;
          }
          .optie:hover{
            cursor: pointer;
            color: #01689b;
          }
        }
        #right1{
          float: left;
        }
      }
    }
    .box3{
      position: absolute;
      background-color: #ddeff8;
      height: 479px;
      width: 100%;
      margin-top: 1292px;
      h1{
        margin-left: 19.5%;
        font-size: 21px;
        margin-top: 30px;
      }
      .info1{
        float: left;
        margin-left: 19.5%;
        width: 400px;
        i{
          margin-top: 20px;
          font-size: 22px;
        }
        h1{
          margin-left: 40px;
          margin-top: -25px;
          font-size: 22px;
        }
        .date{
          height: 80px;
          width: 90%;
        #pijl2{
          padding: 0;
          float: left;
          font-size: 12px;
          margin-right: 10px;
          margin-top: -00px;
        }
        h2{
          float: left;
          color: #01689b;
          font-size: 12px;
        }
        h3{
          float: left;
          font-size: 8px;
          margin-top: -5px;
          margin-left: 20px;
        }
      }
      }
      .info2{
        float: left;
        margin-left: 0%;
        width: 400px;
        i{
          margin-top: 20px;
          font-size: 22px;
        }
        h1{
          margin-left: 40px;
          margin-top: -25px;
          font-size: 22px;
        }
        .date{
          height: 80px;
          width: 90%;
        #pijl2{
          padding: 0;
          float: left;
          font-size: 12px;
          margin-right: 10px;
          margin-top: -00px;
        }
        h2{
          float: left;
          color: #01689b;
          font-size: 12px;
        }
        h3{
          float: left;
          font-size: 8px;
          margin-top: -5px;
          margin-left: 20px;
        }
      }
      }
      .info3{
        float: left;
        margin-left: 0%;
        width: 400px;
        i{
          margin-top: 20px;
          font-size: 22px;
        }
        h1{
          margin-left: 40px;
          margin-top: -25px;
          font-size: 22px;
        }
        .date{
          height: 80px;
          width: 90%;
          margin-bottom: -20px;
          .datum{
            float: left;
            text-align: center;
            width: 40px;
            height: 50px;
            background-color: white;
            line-height: 25px;
          }
        h2{
          margin-left: 15px;
          float: left;
          color: #01689b;
          font-size: 12px;
          line-height: 30px;
        }
      }
      }
    }
    .img2box{
        position: absolute;
      width: 100%;
      height: auto;
      margin-top: 1771px;
      .img2{
        position: absolute;
        width: 100%;
        height: auto;}
          .tekst2{
            position:  relative;
            margin-left: 19.5%;
            padding-top: 46px;
            h1{
              margin: 0;
              color: white;
              position: relative;
              font-size: 18px;
            }
            h2{
              position: relative;
              color: white;
              font-family: "RO Sans", Verdana, Arial, sans-serif;
              font-size: 16px;
            }
            button{
              margin-top: 95px;
              color: white;
              background-color: #01689b;
              border-style: none;
              height: 48px;
              font-size: 15px;
              line-height: 28px;
              margin-left: 0px;
              margin-top: 10px;
              width: 323px;
            }
          }
    }
  }
  footer{
    position:  relative;
    margin-top: 2271px;
    width: 100%;
    height: 329px;
    background-color: #e6e6e6;
    .footer1{
      float: left;
      margin-left: 19.5%;
      height: 100%;
      width: 16%;
      margin-top: 20px;
      h1{
        font-size: 19px;
      }
      h2{
        font-size: 14px;
        #pijl3{
          color: #01689b;
        }
      }
    }
    .footer2{
      float: left;
      height: 100%;
      width: 16%;
      margin-top: 20px;
      h1{
        font-size: 19px;
      }
      h2{
        font-size: 14px;
        #pijl3{
          color: #01689b;
        }
      }
    }
    .footer3{
      float: left;
      height: 100%;
      width: 16%;
      margin-top: 20px;
      h1{
        font-size: 19px;
      }
      h2{
        font-size: 14px;
        #pijl3{
          color: #01689b;
        }
      }
    }
    .footer4{
      float: left;
      height: 100%;
      width: 16%;
      margin-top: 20px;
      h1{
        font-size: 19px;
      }
      h2{
        font-size: 14px;
        #pijl3{
          color: #01689b;
        }
      }
    }
  }
}
